<?php

// GitHub OAuth settings
class GitHubSettings{
	// GitHub login support flag.
	//    true: Use GitHub login.
	//   false: Don't use GitHub login.
	const ENABLED        = false;

	// GitHub OAuth information
	const CLIENT_ID      = 'xxxxx';
	const CLIENT_SECRET  = 'xxxxx';
	const REDIRECT_URL   = 'http://xxxxx/login_github';
	const USER_AGENT     = 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:13.0) Gecko/20100101 Firefox/13.0.1';

	// GitHub accounts allowed to edit contents; comma separated list.
	//   Ex) "kobake,john,koji"
	const ACCOUNTS_ADMIN = "kobake";
}

// Auto link settings
class AutoLinkSettings{
	// Whether to enable auto link or not.
	const ENABLED = true;

	// Whether to get a link's title from internet automatically and show it.
	const AUTO_TITLE = true;
}

// Feed settings
class FeedSettings{
	const SITE_TITLE       = 'clock-up-memo';
	const SITE_DESCRIPTION = 'description';
	const SITE_URL         = 'http://memo.clock-up.jp';
	const AUTHOR_MAIL      = 'kobake@users.sourceforge.net';
}
